body{
    height: 800px;
    font-family:'Times New Roman', Times, serif;
}

.box{
    width: 200px;
    height: 100px;
    border-radius: 20px;
    padding: 25px;
    font-weight: bold;
    border: 2px solid black;
   
}
.box1{
    position: static;
    background-color: rgb(191, 239, 122);
}

.box2{
    position: relative;
    top: 30px;
    left: 40px;
    background-color: rgb(126, 209, 239);
    z-index: 2;
    
}

.box3{
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-color: rgb(180, 123, 180);
    z-index: 1;
    
}

.box4{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(194, 72, 72);
  
}