body{
    margin:0;
    padding: 0;
    background-color: rgb(236, 175, 184);
}

.card-nav {
  position: absolute;
  top: 20px;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 130px;
  margin-left: 10px;
}

.div1{
    width: 900px;
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 150px auto;
    box-shadow: 0 20px 20px 0 rgb(143, 142, 142);
}


.text-content h1 {
  font-size: 3rem;
  font-weight: 400;
  max-width: 500px;
  line-height: 1.1;
  color: #2d1b4e;
  margin-bottom: 20px;
  margin-left: 60px;
}

.cta-btn {
  background: rgb(235, 235, 8);
  border: none;
  padding: 12px 25px;
  font-weight: bold;
  cursor: pointer;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  margin-left: 60px;
  box-shadow: 4px 4px 0px 0px #ab3a93;
  
}

.model{
    width: 60%;
    text-align: center;
}

.model1{
    width: 100%;
    height: 450px;
    max-width: 620px;
}