* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: lightblue;
}

/* Main container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 150px;
}

/* Left section */
.content {
  width: 50%;
}

.script {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #2c7be5;
  font-size: 70px;
}

.bold {
  font-size: 60px;
  font-weight: bold;
}

.content p {
  margin: 20px 0;
  color: #262626;
  max-width: 400px;
  font-size: 18px;
  
}

.hero-section {
text-align: center;
padding: 40px 20px;
}

/* Buttons */
.buttons {
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.primary {
  background-color: #2c7be5;
  color: #fff;
}

.outline {
  background-color: transparent;
  border: 2px solid #2c7be5;
  color: #2c7be5;
}

/* Image section */
.hero-image {
background:  #2b7cff;
padding: 40px;
border-radius: 12px;
display: inline-block;
}

.hero-image img {
max-width: 450px;
}

/* Stats boxes */
.stats {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 25px;
flex-wrap: wrap;
}

.stat-box {
background: #3aa0d8;
color: #fff;
padding: 15px 25px;
border-radius: 8px;
min-width: 120px;
}

.stat-box h3 {
margin: 0;
font-size: 22px;
}

.stat-box p {
margin: 5px 0 0;
font-size: 14px;
}