*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    background-image: url('bgimg.jpeg');
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
    color: #060c28;
    font-family:'verdana';
    padding: 20px;
}

.flag {
    text-align: center;
    margin: 20px 0;
}

.flag img {
    width: 200px;
    border: 1px solid #ccc;
    border: 2px solid #000;
}

h2 {
    color: #010700;
    margin-top: 30px;
    text-align: center;
}

p {
    line-height: 1.6;
    color: #333;
    text-align: center;
}

ul {
    list-style: square;
    width: 40%;
    margin: 0 auto;
    text-align: left;
    padding: 0 0 0 0;
    
    
}

footer {
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    font-weight: bold;
    color: black;
    background-color: rgb(161, 128, 214);
}